<h1>Ongoing Events</h1>
<p>Advisors, please choose current event that you are advising for currently </p>

<div class="table-responsive">
  <table class="table table-hover">
  <% events.forEach(function(event,i){ %>
    <% if (event.dateto > Date.now()) { %>
      <tr>
        <th rowspan="2">
          <%= event.name %>
        </th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
        <th rowspan="2">
          <form action="/attendee/roadshow/<%= event._id %>" method="get">
            <button type="submit">Road Show</br>(Sign Up)</button>
          </form>
          <form action="/attendee/seminar/<%= event._id %>" method="get">
            <button type="submit">Seminar</br>(Sign Up)</button>
          </form>
        </th>
      </tr>
      <tr>
        <td>
          <%= event.datefrom %>
        </td>
        <td>
          <%= event.dateto %>
        </td>
        <td>
          <%= event.location %>
        </td>
      </tr>
    <% } %>
  <% }) %>
  </table>
</div>
