<h1>Attendance List</h1>

<p>Repeat Sign Ups will be flagged at the top of the page, while other 1st comers are noted below</p>
<form action="/allpick" method="post">
  <select class="promos" name="promos">
  <% promo.forEach(function(onpromo,i){ %>
    <option value="<%= onpromo._id %>"><%= onpromo.name %></option>
  <% }) %>
</select>
  <label for="">Select All Attendees
    <input type="checkbox" onclick="toggle(this)">
  </label>
  <button type="submit">All Pick</button>
  <h2>Duplicate IC Numbers Found</h2>
  <% dups.forEach(function(dup,i){ %>
    <h4>Duplicate IC numbers found <%= dup._id.ic %> for a <%= dup.firstnames[i] %> <%= dup.lastnames[i] %></h4>
    <% }) %>
      <div class="table-responsive">
        <table class="table table-bordered">
          <h2>All Attendees</h2>
          <% list.forEach(function(user,i){ %>
            <tr>
              <th rowspan="2">
                <%= user.firstname%>
                  <%= user.lastname %>
              </th>
              <th>Signed Up Date</th>
              <th>Current Date</th>
              <th> IC Number</th>
              <th rowspan="2">
                <p>Generate Code</p>
                <input type="checkbox" value="<%= user._id %>" name='allpk'>
              </th>
</form>
</tr>
<tr>
  <td>
    <%= user.creation_date %>
  </td>
  <td>
    <%= Date() %>
  </td>
  <td>
    <%= user.ic %>
  </td>
</tr>
<% }) %>
  </table>
  </div>
  <p>Please vet through the repeat sign ups</p>
