<div class="container-fluid">
  <h1>Clinic Index</h1>
  <a href="/admin/createclinic"><button class="btn btn-info" style="margin-bottom: 20px;">Create Clinic</button></a>
  <div class="table-responsive">
    <table class="table table-bordered">
      <% clinics.forEach(function(clinic,i){ %>
        <tr>
        <th rowspan="2">
        <%= clinic.name %>
        </th>
        <th>Clinic Number</th>
        <th>Clinic Address</th>
        <th rowspan="2">
        <form action="/admin/clinic/<%= clinic._id %>?_method=put">
        <button type="submit" class='btn btn-primary adminactionbtn'>Edit Clinic</button>
        </form>
        <form action="/admin/clinic/<%= clinic._id %>?_method=delete" method="POST">
        <button type="submit" class='btn btn-danger adminactionbtn' onclick="return confirm('Delete Clinic?')">Delete Clinic</button>
        </form>
        </th>
        </tr>
        <tr>
        <td>
        <%= clinic.contact_number %>
        </td>
        <td>
        <%= clinic.address1 %>,
        <%= clinic.address2 %>
        <br/>
        <%= clinic.postalcode %>
        </td>
        </tr>
        <% }) %>
      </table>
    </div>
</div>
