<div class="container-fluid form">
  <h1><u>Edit Event</u></h1>

  <h4>Current Promotion for event</h4>
  <h4><strong><%= promo.name %></strong></h4>
  <h4>Promo prefix: <strong><%= promo.promocodeprefix %></strong></h4>
  <h4>Promo postfix: <strong><%= promo.agencyprefix %></strong></h4>
  <h4>Validity (Days): <strong><%= promo.validity %></strong></h4>
  <form action="?_method=put" method="post" data-parsley-validate="">
      <div class="form-group">
        <label for="eventname">Event Name <span class="mandatory">*</span> :
          <input type="text" name="eventname" class='form-control' id="eventname" data-parsley-error-message="Name of event required" value=<%= event.name %>>
        </label>
      </div>
      <div class="form-group">
        <label for="subeventname">Topic Name <span class="mandatory">*</span> :
          <input type="text" name="subeventname" class='form-control' id="subeventname" placeholder="Diabetes" data-parsley-error-message="Subname of event required (Topic of talk)" value=<%= event.subname %>>
        </label>
      </div>
      <div class="form-group">
        <label for="datefrom">Event Start Date <span class="mandatory">*</span> :
          <input type="date" name="datefrom" class="form-control" id="datefrom" data-parsley-error-message="Please enter valid start date"  value=<%= datefrom %>>
        </label>
      </div>
      <div class="form-group">
        <label for="datetill">Event End Date <span class="mandatory">*</span> :
          <input type="date" name="datetill" class="form-control" id="datetill" data-parsley-error-message="Please enter valid end date" value=<%= dateto %>>
        </label>
      </div>
      <div class="form-group">
        <label for="location">Location of Event <span class="mandatory">*</span> :
          <input type="text" name="location" class="form-control" id="location" placeholder="Orchard" data-parsley-error-message="Please enter location of event held" value=<%= event.location %>>
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Update Event</button>
    </form>
</div>
